<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChcVKu5mKhiw21eMm4rGi5xa75MovBrL8</string>
	<key>GCM_SENDER_ID</key>
	<string>684897521417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.F1xM3xP5.Prod</string>
	<key>PROJECT_ID</key>
	<string>f1m3-effb7</string>
	<key>STORAGE_BUCKET</key>
	<string>f1m3-effb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684897521417:ios:b7210f3a3fd29800ea0dd8</string>
</dict>
</plist>